/* Box Model Hack */
* {
     -moz-box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".##";
     display: block;
     clear: both;
     /*visibility: hidden;*/
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     box-sizing: border-box;
     /*flex:1;*/
}

header, footer {
     border: 1px solid blue;
     width: 100%;
     height: 100px;
     clear:both;
}

footer {
     background-color: cyan;
}

section {
     height: 300px;
     border: 2px solid pink;
     flex: 1;
     color: white;
}

@media (min-width: 901px) {
     main, .bottom {
          display:flex;
     }
}


@media (min-width: 601px) and (max-width: 900px) {
     main section {
          color: indigo;
          font-size: 5rem;
          text-align: center;
     }
}

@media screen and (max-width: 600px) {
     main section {
          color: hotpink;
          background-color: hotpink;
     }
     .bottom section{
          background-color: orange;
          color: black;
          font-size:5rem;
          text-align: center;
     }
}

/*main section {*/
/*     width:100%;*/
/*     height: 300px;*/
/*     background-color: pink;*/
/*     border: 2px solid black;*/
/*}*/

/*section.bottom section {*/
/*     width:100%;*/
/*     height: 300px;*/
/*     background-color: orange;*/
/*     border: 2px solid black;*/
/*}*/

/******************************************
/* LAYOUT
/*******************************************/




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
